---
import HeadingFlanked from "~/components/HeadingFlanked.astro";
import HeroForPage from "~/components/HeroForPage.astro";
import PrimaryContents from "~/components/PrimaryContents.astro";
import ScheduledActivity from "~/components/ScheduledActivity.astro";
import BodyText from "~/components/BodyText.astro";
import ScheduledActivityBetween from "~/components/ScheduledActivityBetween.astro";
import ScheduledActivitySession from "~/components/ScheduledActivitySession.astro";
import { days } from "~/data/schedule";
import ContentLayout from "~/layouts/ContentLayout.astro";
---

<ContentLayout>
	<HeroForPage>Schedule</HeroForPage>

	<BodyText class="schedule-body-text" width="lean">
		All times are in EDT, local to Boston.
	</BodyText>

	<PrimaryContents>
		{
			days.map(({ activities, title }) => (
				<section class="schedule-day">
					<HeadingFlanked id={title.split(/\W+/)[0].toLowerCase()}>
						{title}
					</HeadingFlanked>

					{activities.map((activity) => (
						<>
							<ScheduledActivity
								at={activity.at}
								description={activity.description}
								location={activity.location}
								title={activity.title}
							/>
							{activity.within &&
								activity.within.map((inner) =>
									inner.type === "between" ? (
										<ScheduledActivityBetween activity={inner} />
									) : (
										<ScheduledActivitySession activity={inner} />
									),
								)}
						</>
					))}
				</section>
			))
		}
	</PrimaryContents>
</ContentLayout>

<style>
	.schedule-body-text {
		margin: 4rem auto 0;
	}

	.schedule-day:not(:last-of-type) {
		margin-bottom: 3rem;
	}
</style>
