---
import { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import BioLinks, { BioLinksPlatforms } from "./BioLinks.astro";

export interface Props {
	class?: string;
	links: BioLinksPlatforms;
	name: string;
	photo: ImageMetadata;
	position?: string;
	size: "medium" | "large";
}

const {
	class: className,
	links,
	name,
	photo,
	position,
	size,
	...rest
} = Astro.props;
---

<li
	{...rest}
	class:list={["bio", className, size === "large" ? "bio-large" : "bio-medium"]}
>
	<Image alt="" class="bio-image" src={photo} />
	<div class="name">{name}</div>
	{position && <div class="position">{position}</div>}
	<BioLinks name={name} links={links} />
</li>

<style>
	.bio {
		align-items: center;
		display: flex;
		flex-basis: 0;
		flex-direction: column;
		flex-grow: 2;
		font-family: var(--fontFamilyBody);
		gap: 0.25rem;
		max-width: 40vw;
	}

	.bio-medium {
		--imageSize: clamp(3.5rem, 10vw, 6rem);
		--fontSize: var(--fontSizeBodySmaller);
	}

	.bio-large {
		--imageSize: clamp(5rem, 20vw, 8rem);
		--fontSize: var(--fontSizeBody);
	}

	.bio-image {
		border-radius: 100%;
		height: var(--imageSize);
		margin-bottom: 0.5rem;
		user-select: none;
		width: var(--imageSize);
	}

	.name {
		color: var(--colorForegroundBody);
		font-size: var(--fontSize);
	}

	.position {
		font-size: var(--fontSizeBodySmaller);
		font-weight: var(--fontWeightLight);
	}
</style>
