---
import { Image } from "astro:assets";

import bluesky from "~/assets/logos/bluesky.svg";
import github from "~/assets/logos/github.svg";
import linkedin from "~/assets/logos/linkedin.svg";
import mastodon from "~/assets/logos/mastodon.svg";
import twitch from "~/assets/logos/twitch.svg";
import twitter from "~/assets/logos/twitter.svg";
import website from "~/assets/logos/website.svg";
import youtube from "~/assets/logos/YouTube.svg";
import gitlab from "~/assets/logos/GitLab.svg";
import medium from "~/assets/logos/Medium.svg";

interface Props {
	class?: string;
	links: BioLinksPlatforms;
	name: string;
	size?: "normal" | "large";
}

export interface BioLinksPlatforms {
	bluesky?: string | null;
	github?: string | null;
	gitlab?: string | null;
	linkedin?: string | null;
	mastodon?: string | null;
	twitch?: string | null;
	twitter?: string | null;
	website?: string | null;
	youtube?: string | null;
	medium?: string | null;
}

const { class: className, links, name, size, ...rest } = Astro.props;
---

<div
	class:list={[
		"bio-links",
		className,
		size === "large" ? "bio-links-large" : "bio-links-normal",
	]}
	{...rest}
>
	{
		links.github && (
			<a href={links.github} target="_blank" rel="noreferrer">
				<Image alt={`${name} on GitHub`} class="link" src={github} />
			</a>
		)
	}
	{
		links.gitlab && (
			<a href={links.gitlab} target="_blank" rel="noreferrer">
				<Image alt={`${name} on GitLab`} class="link" src={gitlab} />
			</a>
		)
	}
	{
		links.bluesky && (
			<a href={links.bluesky} target="_blank" rel="noreferrer">
				<Image alt={`${name} on bluesky`} class="link" src={bluesky} />
			</a>
		)
	}
	{
		links.linkedin && (
			<a href={links.linkedin} target="_blank" rel="noreferrer">
				<Image alt={`${name} on LinkedIn`} class="link" src={linkedin} />
			</a>
		)
	}
	{
		links.mastodon && (
			<a href={links.mastodon} target="_blank" rel="noreferrer">
				<Image alt={`${name} on mastodon`} class="link" src={mastodon} />
			</a>
		)
	}
	{
		links.twitch && (
			<a href={links.twitch} target="_blank" rel="noreferrer">
				<Image alt={`${name} on Twitch`} class="link" src={twitch} />
			</a>
		)
	}
	{
		links.twitter && (
			<a href={links.twitter} target="_blank" rel="noreferrer">
				<Image alt={`${name} on Twitter`} class="link" src={twitter} />
			</a>
		)
	}
	{
		links.youtube && (
			<a href={links.youtube} target="_blank" rel="noreferrer">
				<Image alt={`${name} on YouTube'`} class="link" src={youtube} />
			</a>
		)
	}
	{
		links.medium && (
			<a href={links.medium} target="_blank" rel="noreferrer">
				<Image alt={`${name} on Medium'`} class="link" src={medium} />
			</a>
		)
	}
	{
		links.website && (
			<a href={links.website} target="_blank" rel="noreferrer">
				<Image alt={`${name}'s website'`} class="link" src={website} />
			</a>
		)
	}
</div>

<style>
	.bio-links {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem 0.5rem;
	}

	.bio-links-normal {
		--bioLinkImageSize: 1rem;
	}

	.bio-links-large {
		--bioLinkImageSize: 1.35rem;
	}

	.link {
		height: var(--bioLinkImageSize);
		filter: brightness(1.5);
		width: var(--bioLinkImageSize);
	}
</style>
