---
import { markdown } from "@astropub/md";
import { Image } from "astro:assets";

import dropdown from "~/assets/glyphs/dropdown.svg";

import Heading from "./Heading.astro";
import HeadingFlanked from "./HeadingFlanked.astro";
import { links } from "~/data";

type FAQSection = [string, [string, string][]];

const faqs: FAQSection[] = [
	[
		"General",
		[
			["How big is SquiggleConf?", "We're targeting 250 total attendees."],
			[
				"Will there be alcohol at SquiggleConf?",
				'No. We will act as a "dry" conference (no alcohol).',
			],
		],
	],
	[
		"Schedule",
		[
			[
				"What events are you planning?",
				await markdown(`
We will let you know soon! This is partially dependent on corporate sponsorships. Subscribe to the <a href="/#newsletter">newsletter</a> to be the first to know!

<br />

At the very least, SquiggleConf will include:

- Social events for all attendees around the conference
- Breaks and breakout sessions during the conference
- Spaces to ask speakers questions and network with other attendees
				`),
			],
			[
				"What is the full schedule of events?",
				await markdown(
					`We will let you know soon! This is partially dependent on the CFP and corporate sponsorships. Subscribe to the <a href="/#newsletter">newsletter</a> to be the first to know!`,
				),
			],
		],
	],
	[
		"Sessions",
		[
			[
				"How can I ask speakers questions?",
				await markdown(`Talks have time reserved for live Q&A. Additionally, each session has a channel in Discord where you can ask questions.
				<br />
				We'd also encourage you to find them in-person between sessions and start conversations. They're friendly people.`),
			],
			[
				"Will talks be recorded?",
				"Yes! Talks will be made available online for free after the conference.",
			],
			[
				"Will workshops be recorded?",
				"No, workshops are intended to be a live in-person experience.",
			],
		],
	],
	[
		"Tickets",
		[
			[
				"Do you have bulk purchasing and/or group options?",
				await markdown(
					`Yes! See the [tickets purchase link](${links.tickets}) for the options.`,
				),
			],
			[
				"If I can't afford a full ticket, is there a way for me to come?",
				await markdown(
					`We have discounts for [bulk purchasing](${links.tickets}), a [DEI scholarship](/about#dei-scholarship}), and space for [volunteers](/about#volunteering). We also plan on reaching out to local bootcamp and university students, as well as loyal attendees of <a href="https://bostonts.club" target="_blank">Boston TS Club</a>.`,
				),
			],
			[
				"What does or doesn't a ticket include?",
				await markdown(
					`
Your ticket gets you:

- Access to all attendee social events before, during, and after the conference
- Complete access to the talks day (Thursday, October 3rd)
- Access to the morning workshops (Friday, October 4th)
- Light beverages and snacks through the conference day
- One "swag bag" with branded apparel and items

Note that talk tickets _do not_ include:

- Meals, including lunch at <a href="https://faneuilhallmarketplace.com" rel="noreferrer" target="_blank">Faneuil Hall Marketplace</a>
- Travel to or from the conference
					`,
				),
			],
			[
				"What is your refund policy?",
				await markdown(
					"Full refunds. If you can't make it, please let us know - we can work with you. <br /> Do not come to SquiggleConf if you have any COVID symptoms.",
				),
			],
			[
				"Will there be ticket sales at the door?",
				await markdown(
					"No. All tickets will be sold online. We also cannot guarantee tickets will be available day-of.",
				),
			],
		],
	],
] as const;
---

<section class="faq-section">
	<HeadingFlanked id="faqs">FAQs</HeadingFlanked>

	<div class="faqs">
		{
			faqs.map(([title, section]) => (
				<div class="section">
					<Heading class="h3" level="h3">
						{title}
					</Heading>
					{section.map(([question, answer]) => (
						<details class="details">
							<summary>
								<span>{question}</span>
								<Image alt="" src={dropdown} />
							</summary>
							<div class="answer">{answer}</div>
						</details>
					))}
				</div>
			))
		}
	</div>
</section>

<style>
	.faq-section {
		padding: 0 var(--widthBodyPadding);
		max-width: var(--widthBodyFull);
		width: 100%;
	}

	.action-button {
		display: inline-block;
		margin: 2rem;
	}

	.faqs {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		width: 100%;
	}

	.h3 {
		font-size: var(--fontSizeH3);
	}

	details {
		font-family: var(--fontFamilyBody);
		font-size: var(--fontSizeBody);
		font-weight: var(--fontWeightLight);
		line-height: var(--lineHeightBody);
		margin-bottom: 1rem;
		text-align: left;
		width: 100%;
	}

	summary {
		cursor: pointer;
		font-size: var(--fontSizeH4);
		list-style: none;
		position: relative;
		margin-top: 1.5rem;
		display: flex;
		justify-content: space-between;
	}

	details[open] summary {
		margin-bottom: 1rem;
	}

	details summary img {
		transition: var(--transitionMedium) transform;
	}

	details[open] summary img {
		transform: rotate(180deg);
	}

	html.dark summary img {
		filter: invert();
	}

	html:not(.dark) summary img {
		filter: hue-rotate(180deg);
	}

	@media (min-width: 819px) {
		.answer {
			padding-right: 2rem;
		}
	}
</style>

<style is:global>
	details ul {
		margin: 0.75rem 0 0.75rem 1rem;
	}

	details li {
		list-style: initial;
	}
</style>
