---
import { Image } from "astro:assets";

import HeroName from "~/components/HeroName.astro";
import bluesky from "~/assets/bluesky.svg";
import discord from "~/assets/discord.svg";
import github from "~/assets/github.svg";
import linkedin from "~/assets/linkedin.svg";
import mastodon from "~/assets/mastodon.svg";
import twitter from "~/assets/twitter.svg";
---

<footer>
	<div class="halves">
		<div class="half logo">
			<HeroName align="left" color="inherit" level="h2" />
		</div>
		<div class="half texts">
			<div class="line texts-line">
				<a href="/code-of-conduct">Code of Conduct</a>
				<a href="/privacy-policy">Privacy Policy</a>
			</div>
			<div class="logos">
				<a href="https://bluesky.squiggleconf.com" target="_blank">
					<Image alt="Bluesky" src={bluesky} />
				</a>
				<a href="https://linkedin.squiggleconf.com" target="_blank">
					<Image alt="LinkedIn" src={linkedin} />
				</a>
				<a href="https://mastodon.squiggleconf.com" target="_blank">
					<Image alt="Mastodon" src={mastodon} />
				</a>
				<a href="https://twitter.squiggleconf.com" target="_blank">
					<Image alt="Twitter" src={twitter} />
				</a>
				<a href="https://discord.squiggleconf.com" target="_blank">
					<Image alt="Discord" src={discord} />
				</a>
				<a href="https://github.squiggleconf.com" target="_blank">
					<Image alt="GitHub" src={github} />
				</a>
			</div>
		</div>
	</div>

	<style>
		footer {
			margin-bottom: 2rem;
		}

		.texts {
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-top: 1rem;
		}

		.texts a {
			font-family: var(--fontFamilyBody);
			font-size: var(--fontSizeBodyLarge);
			font-weight: var(--fontWeightSemibold);
			text-decoration: none;
			color: inherit;
		}

		.line {
			display: flex;
			gap: 1rem;
		}

		.logos {
			display: flex;
			gap: 1rem;
		}

		.texts-line {
			margin: 1rem 0;
		}

		.line img {
			height: 2rem;
			width: 2rem;
		}

		html.dark .texts img {
			filter: invert() hue-rotate(180deg);
		}

		@media (min-width: 1170px) {
			.halves {
				display: flex;
				justify-content: space-between;
				margin: 2rem auto clamp(0.5rem, 5vw, 4rem);
				max-width: var(--widthBodyFull);
				padding: 0 var(--widthBodyPadding);
			}

			.texts {
				gap: 1rem;
			}

			.texts-line {
				display: flex;
				flex-direction: column;
				justify-content: right;
				text-align: right;
				width: 100%;
			}

			.logos {
				display: flex;
				justify-content: right;
				width: 100%;
			}
		}
	</style>
</footer>
