---
import HeroNameDetails from "./HeroNameDetails.astro";
import HeroNameHeading from "./HeroNameHeading.astro";

interface Props {
	align: "center" | "left";
	color: "inherit" | "inverted";
	class?: string;
	level: "h1" | "h2";
	size?: "normal" | "small";
}

const { class: className, align, color, level, size, ...rest } = Astro.props;
---

<div
	class:list={[
		"hero-name",
		align === "left" ? "hero-name-left" : "hero-name-center",
		color === "inverted" ? "hero-name-inverted" : "hero-name-inherited",
		size === "small" ? "hero-name-small" : "hero-name-normal",
		className,
	]}
	{...rest}
>
	<HeroNameHeading align={align} color={color} level={level} size={size} />
	<HeroNameDetails align={align} color={color} size={size} />
</div>

<style>
	.hero-name {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	html.dark .hero-name {
		--colorShadow: transparent;
	}

	.together {
		display: inline-block;
	}

	@media (min-width: 1017px) {
		.hero-name-left {
			align-items: flex-start;
			text-align: left;
		}
	}
</style>
