---
import { links } from "~/data/links";

import Hero from "./Hero.astro";
import HeroName from "./HeroName.astro";
import NoBreak from "./NoBreak.astro";
import LinkOut from "~/assets/glyphs/link-out.svg";
import { Image } from "astro:assets";
import ThemeToggle from "./ThemeToggle.astro";
import TicketsButton from "./TicketsButton.astro";
---

<Hero>
	<HeroName align="center" color="inverted" level="h1" />
	<TicketsButton />

	<div class="sub-mentions">
		<a
			class="sub-mention"
			href={links.scholarship}
			target="_blank"
			rel="noreferrer"
		>
			<NoBreak>Apply for</NoBreak>
			<NoBreak>DEI Scholarship </NoBreak>
			<Image alt="" class="link-out" src={LinkOut} />
		</a>
		<a
			class="sub-mention"
			href={links.volunteer}
			target="_blank"
			rel="noreferrer"
		>
			<NoBreak>Apply to</NoBreak>
			<NoBreak>Volunteer</NoBreak>
			<Image alt="" class="link-out" src={LinkOut} />
		</a>
		<a
			class="sub-mention"
			href={links.tickets}
			target="_blank"
			rel="noreferrer"
		>
			<NoBreak>Bulk Tickets</NoBreak>
			<NoBreak>Now Available</NoBreak>
			<Image alt="" class="link-out" src={LinkOut} />
		</a>
	</div>

	<ThemeToggle />
</Hero>

<style>
	.sub-mentions {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: clamp(1rem, 5vw, 2rem);
		justify-content: center;
	}

	.sub-mention {
		color: var(--colorBlueLight);
		font-size: var(--fontSizeBodySmall);
		font-family: var(--fontFamilyHeading);
		text-underline-offset: 0.2em;
		transition: var(--transitionMedium) color;
	}

	.sub-mention:hover {
		color: var(--colorWhite);
	}

	.link-out {
		height: 1rem;
		width: 1rem;
	}

	@media (min-width: 819px) {
		.sub-mentions {
			padding-bottom: 2rem;
		}

		.sub-mention {
			font-size: var(--fontSizeBody);
		}
	}
</style>
