---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import AdContents from "~/components/AdContents.astro";
import AdTitle from "~/components/AdTitle.astro";
import SafeMarkdown from "~/components/SafeMarkdown.astro";
import SessionTags from "~/components/SessionTags.astro";
import SpeakerImage from "~/components/SpeakerImage.astro";
import SubtleCard from "~/components/SubtleCard.astro";
import { peopleBySlug, talksBySlug } from "~/data/notion-data";
import AdLayout from "~/layouts/AdLayout.astro";

export function getStaticPaths() {
	return Object.keys(peopleBySlug).map((slug) => ({
		params: { slug: slug as keyof typeof peopleBySlug },
	}));
}

const speaker = peopleBySlug[Astro.params.slug];
const talks = Object.values(talksBySlug).filter((talk) =>
	talk.people.includes(speaker),
);
---

<AdLayout>
	<AdContents>
		<AdTitle slot="top">{speaker.name}</AdTitle>
		<Fragment slot="body">
			<SubtleCard class="speaker-ad-card">
				<div class="speaker-ad-image-container">
					<SpeakerImage name={speaker.name} slug={speaker.slug} size={256} />
				</div>
				<div class="speaker-ad-contents">
					{talks.map((talk) => <p class="talk-title">{talk.title}</p>)}
					<div class="speaker-details">
						<div>
							<SafeMarkdown of={speaker.qualification!} />
						</div>
						<div>
							<SafeMarkdown of={speaker.role!} />
						</div>
					</div>
				</div>
			</SubtleCard>
			<ul class="speaker-ad-tags">
				{talks.map((talk) => <SessionTags size="large" tags={talk.tags} />)}
			</ul>
		</Fragment>
	</AdContents>

	<style>
		.speaker-ad-card {
			align-items: center;
			display: flex;
			gap: 1rem;
			padding: 1.5rem 2rem;
			margin: -2.5rem 0 -5rem;
			position: relative;
			width: 85vh;
		}

		.speaker-ad-image-container {
			position: absolute;
			right: -5rem;
			top: -5rem;
		}

		.speaker-ad-contents {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			justify-content: space-between;
			text-align: left;
			height: 100%;
		}

		.talk-title {
			font-family: var(--fontFamilyHeading);
			font-size: 3.5rem;
			margin-right: 10rem;
		}

		.speaker-details {
			font-size: 1.5rem;
			text-align: right;
		}
	</style>
</AdLayout>
