---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";
import { Image } from "astro:assets";

import AdContents from "~/components/AdContents.astro";
import SafeMarkdown from "~/components/SafeMarkdown.astro";
import SessionTags from "~/components/SessionTags.astro";
import Speaker from "~/components/Speaker.astro";
import SpeakerImage from "~/components/SpeakerImage.astro";
import SubtleCard from "~/components/SubtleCard.astro";
import { peopleBySlug, talksBySlug } from "~/data/notion-data";
import AdLayout from "~/layouts/AdLayout.astro";

export function getStaticPaths() {
	return Object.keys(peopleBySlug).map((slug) => ({
		params: { slug: slug as keyof typeof peopleBySlug },
	}));
}

const speaker = peopleBySlug[Astro.params.slug];
const talks = Object.values(talksBySlug).filter((talk) =>
	talk.people.includes(speaker),
);
---

<AdLayout>
	<AdContents title="SquiggleConf 2024 Speaker" subTitle={speaker.name}>
		<!-- <Speaker
			class="speaker-ad"
			renderAs="div"
			showBioLinkText
			speaker={speaker}
			talks={Object.values(talksBySlug).filter((talk) =>
				talk.people.includes(speaker),
			)}
		>
			<Fragment slot="top-right">
				{
					talks.map((talk) => (
						<SessionTags class="speaker-top-tags" tags={talk.tags} />
					))
				}
			</Fragment>
		</Speaker> -->
		<SubtleCard class="speaker-ad-card">
			<SpeakerImage name={speaker.name} slug={speaker.slug} size={256} />
			<div class="speaker-ad-contents">
				{talks.map((talk) => <p class="talk-title">{talk.title}</p>)}
				{
					talks.map((talk) => (
						<SessionTags
							class="speaker-top-tags"
							size="large"
							tags={talk.tags}
						/>
					))
				}
				<div class="speaker-details">
					<div>
						<SafeMarkdown of={speaker.qualification} />
					</div>
					<div>
						<SafeMarkdown of={speaker.role} />
					</div>
				</div>
			</div>
		</SubtleCard>
	</AdContents>

	<style>
		.speaker-ad-card {
			display: flex;
			width: 85vh;
			gap: 1rem;
			padding: 1.5rem 2rem;
			align-items: center;
		}

		.speaker-ad-contents {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			justify-content: space-between;
			text-align: left;
			height: 100%;
		}

		.talk-title {
			font-family: var(--fontFamilyHeading);
			font-size: 3.5rem;
		}

		.speaker-details {
			font-size: 1.35rem;
		}
	</style>
</AdLayout>
